body{
    font-family: cursive;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  gap: 5px;

}
.color-container{
    background-color: aqua;
    width: 200px;
    height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border: 1px solid black;
}